In [37]:
import pandas as pd

In [38]:
sklearn_rf = pd.read_csv('predicted_SklearnRF.tsv', sep='\t').rename(columns={"RF": "Sklearn"})
fastrp_rf = pd.read_csv('predicted_FastRP.tsv', sep='\t').rename(columns={"predictedValue": "fastRP"}).drop(columns=["nodeId"], axis=1)

In [39]:
sklearn_rf.head()

       name      Sklearn
0  12410006  5742.069387
1  12410005  5742.069387
2  12410004  5742.069387
3  12410003  5742.069387
4  12410002  5742.069387

In [40]:
fastrp_rf.head()

        fastRP      name
0  76859.79227  12270007
1   9307.74632  12250001
2  75520.16106  12240002
3  76859.79227  12230006
4  46968.94177  12210004

In [41]:
print (len(sklearn_rf), len(fastrp_rf))

3476 3476

In [42]:
combine_df = pd.merge(sklearn_rf, fastrp_rf, on='name', how='inner')

In [43]:
combine_df.head()

       name      Sklearn       fastRP
0  12410006  5742.069387  17839.40498
1  12410005  5742.069387  17839.40498
2  12410004  5742.069387  17839.40498
3  12410003  5742.069387  17839.40498
4  12410002  5742.069387  17839.40498

In [44]:
combine_df.isna().sum()

name       0
Sklearn    0
fastRP     0
dtype: int64

In [45]:
combine_df["average"] = combine_df[['Sklearn', 'fastRP']].mean(axis=1)

In [46]:
combine_df["diff"] = combine_df["Sklearn"] - combine_df["fastRP"]

In [47]:
combine_df.sample(10)

          name        Sklearn       fastRP        average           diff
3192   1630004     976.990573   6783.89331    3880.441941   -5806.902737
3274   1430003    2736.516538   9722.13109    6229.323814   -6985.614552
2664   4800001  205067.635076   8014.00318  106540.819128  197053.631896
1109   9690024    1127.142873   4915.97238    3021.557626   -3788.829507
2723   4510013     822.752594  26467.32423   13645.038412  -25644.571636
1049   9700001     220.992719  13448.80623    6834.899475  -13227.813511
746   10180019    6250.888302  10587.05676    8418.972531   -4336.168458
2221   7060002    3323.985804   2318.24166    2821.113732    1005.744144
547   10670001   61247.480862  96693.50218   78970.491521  -35446.021318
3143   2080013    3043.977622   4279.37891    3661.678266   -1235.401288

In [48]:
combine_df["diff"].describe()

count      3476.000000
mean     -11172.777403
std       49456.682505
min     -172368.905103
25%      -34027.517668
50%       -6414.455692
75%         -78.136065
max      451192.124355
Name: diff, dtype: float64

In [49]:
len(combine_df[combine_df["diff"] < 0])

2610